.page {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-top: 20px;
    align-items: flex-start; 
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    font-size: 40px;
    margin-top: 0;
    color: rgb(0, 0, 0);
    margin-left: 3%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #150c0c;
    border-radius: 5px;
    background-color: #cfccff;
    transition: background-color 0.3s;
}

li.correct {
    background-color: #4caf50; /* Green background for correct answers */
    color: white;
    border: 1px solid #4caf50;
}


li.incorrect {
    background-color: #f44336; /* Red background for incorrect answers */
    color: white;
    border: 1px solid #f44336;
}

li:hover {
    background-color: #e0e0e0; 
}

label {
    display: block;
    cursor: pointer;
    width: 600px;
    height: 30px;
}

input[type="radio"] {
    margin-right: 20px;
   
}

.bold-question {
    font-weight: bold;
    font-size: larger;
  }

.two-line-question {
    max-width: 35em;
    max-height: 3em; 
    overflow: hidden;
    line-height: 1.5; 
  }
   
button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0011ff; 
    color: white; 
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0030ab; 
}

.crossmark {
    color: red; 
    font-size: 25px; 
    margin-left: 5px; 
  }
  
.checkmark {
    color: green; 
    font-size: 25px; 
    margin-left: 5px; 
  }
  
  .calculator {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 350px;
    height: 280px;
    background-color: #292b2c;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 999;
    color: #fff;
  }
  
  .total-correct {
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
  }
  
  .buttonn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

.congratulations-message {
    font-size: 25px;
    font-weight: bold;
    color: #ff0000;
    text-align: center;
    margin-top: 20px;
  }
  


  
/* Media queries for mobile */

  @media (max-width: 768px) {
    
  
    .quiz {
      text-align: center;
      font-size: 24px;
      margin-left: 0;
    }
  
    ul {
      padding-left: 20px; 
    }
  
    label {
      width: 100%; 
    }
  
    .calculator {
      position: fixed;
      width: 20%;
      height: 25%;
      margin: 20px 0; 
      text-align: center;
      padding: 2px;
      background-color: #cfcfcf;
    }
  
    .total-correct {
      font-size: 32px;
      margin-top: 10px;
    }
  
    .buttonn {
      font-size: 16px;
      margin-top: 10px;
    }
  
    .congratulations-message {
      font-size: 20px;
      margin-top: 10px;
    }


}